<!DOCTYPE html>
<html>
  <head>
    <title>BankTransactions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-blue">
      <%= render partial: 'header' %>

      <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
          <%= render partial: 'menu' %>
        </aside>
        <aside class="right-side">
          <%= yield %>
        </aside>
      </div>
  </body>
</html>
